div{
    display: grid;
    grid-template-rows: 400px 400px 400px;
    grid-template-columns: 400px 400px 400px;
    grid-gap:20px;
}

@media(max-width:800px)
{
    div{
        grid-template-rows: 500px 500px 500px 500px;
        grid-template-columns: 450px 450px;
    }
   
}

@media(max-width:680px)
{
    div{
        grid-template-rows: 500px 500px 500px 500px 500px 500px 500px 500px ;
        grid-template-columns: 500px;
    }
   
}

