#mydiv{
    border: 1px solid blue;
    width: 240px;
    height: 190px;
    background-color: blue;
    border-radius: 10%;
    margin-left: 300px;
    margin-top: 120px;
    position: relative;
}

div>img{
    border-radius: 10%;
    position: absolute;
    top:-20px;
    left: 20px;
}

#mydiv:hover{
    transition-property: height;
    transition-duration: 2s;
    height: 300px;
}

p{
    top:-20px;
    left:20px;
    margin-top: 190px;
    opacity: 0;
    position: relative;
    z-index: 0;
}

#mydiv:hover p{
    opacity: 1;
    position:absolute;
    transition-property: background-color;
    transition-duration: 2s;
    transform-origin: bottom;
    z-index:1;
}