h1{
    font-size: 40px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 4px 5px blue;
}

div{
    width: 200px;
    height: 100px;
    background-color: cadetblue;
    box-shadow: 4px 6px 3px black;
}

